#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with autotools-dev --sourcedirectory=tools

override_dh_auto_configure:
	dh_auto_configure -- --disable-monitors --disable-ocamltools --disable-rombios --disable-seabios

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_builddeb:
	dh_builddeb -a -O--sourcedirectory=tools
