#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
MULTIARCH := $(shell dpkg-architecture -qDEB_BUILD_MULTIARCH)

%:
	dh $@  --with autotools-dev --sourcedirectory=tools

override_dh_auto_configure:
	dh_auto_configure -- --disable-monitors --disable-ocamltools --disable-rombios --disable-seabios

override_dh_builddeb:
	rm -rf debian/vhd-util/etc debian/vhd-util/usr/bin debian/vhd-util/usr/include debian/vhd-util/var debian/vhd-util/usr/libexec debian/vhd-util/usr/etc debian/vhd-util/usr/bin debian/vhd-util/usr/lib/xen debian/vhd-util/usr/lib/python2.7
	mv debian/vhd-util/usr/sbin/vhd-util debian/vhd-util/usr/vhd-util
	rm debian/vhd-util/usr/sbin/*
	mv debian/vhd-util/usr/vhd-util debian/vhd-util/usr/sbin
	mv debian/vhd-util/usr/lib/${MULTIARCH}/libvhd* debian/vhd-util/usr/
	rm -rf debian/vhd-util/usr/lib/${MULTIARCH}/*
	mv debian/vhd-util/usr/libvhd* debian/vhd-util/usr/lib/${MULTIARCH}
	dh_builddeb -a -O--sourcedirectory=tools
